<footer class="bg-black text-gray-400 text-sm border-t border-gray-800 justify-items-center">
 <div class="max-w-7xl mx-auto px-8 py-10 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-8 justify-items-center pl-20">
    
    <div class="col-span-2">
      <h3 class="text-white text-lg font-semibold mb-4 tracking-wide">SHOWTIME</h3>
      <p class="text-gray-400 leading-relaxed text-xs">
        Discover the best concerts, festivals, and music events worldwide.
        Book your tickets easily, explore, feel the energy, and experience music in a whole new way.
      </p>
    </div>

    <div>
      <h4 class="text-white text-sm font-semibold mb-4 uppercase tracking-wide">À propos</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-fuchsia-500 transition">Our mission</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Carreers</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Partners</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Press</a></li>
      </ul>
    </div>

    <div>
      <h4 class="text-white text-sm font-semibold mb-4 uppercase tracking-wide">Assistance</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-fuchsia-500 transition">FAQ</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Customer support</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Terms of use</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Privacy Policy</a></li>
      </ul>
    </div>

    <div>
      <h4 class="text-white text-sm font-semibold mb-4 uppercase tracking-wide">Discover</h4>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-fuchsia-500 transition">Upcoming events</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Festivals</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Top artists</a></li>
        <li><a href="#" class="hover:text-fuchsia-500 transition">Special offers</a></li>
      </ul>
    </div>
  </div>

  <div class="border-t border-gray-800 py-4 text-center text-xs text-gray-500">
    <p>© 2025 <span class="text-fuchsia-500 font-medium">DEV’s CORP</span> — Tous droits réservés.</p>
  </div>
</footer>